.aside{
    grid-area: aside;
    margin-right: 1rem;
    div{
        img{
            max-width: 100%;
            max-height: 100%;
        }

        h2{
            @include color ($white-color);
            margin-bottom: 2rem;
            font-family: 'Public Sans', sans-serif;
            background-color: $background-color;
            @include fontsize(2rem);
        }
    }
}