.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: row;
    gap: 2px 2px;
    grid-template-areas:
    "header header header"
    "vacio main aside"
    "footer footer footer";

    max-width: fit-content;
    padding: 0px;
    /* Body */

    background-image: url(../images/background.jpg);
    background-size: auto;
}

.container2 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header"
    "left-side right-side"
    "footer footer";

    background-image: url(../images/background.jpg);
    background-size: auto;
}